.add-new-beer-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 400px;
  margin: 20px;
}

.add-new-beer-form_dark {
  background-color: rgb(112, 110, 110);
}

.add-new-beer-form_dark label {
  color: #fff;
}

.add-new-beer-form input {
  width: 100%;
}

.add-new-beer__button {
  margin-top: 20px;
}